@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;400;600&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');



*{
   
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    list-style-type: none;
    box-sizing: inherit;
}

body{
    background-color: rgba(250, 235, 215, 0.26);
    margin: auto;
    width: 800px;
    box-sizing: border-box;
    color: #4A4A4A
}

.top img{
    width: 900px;
    margin-left: -6%;
}

main{
    background-color: rgb(255, 255, 255);
    
}
h2{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
}
.artigo{
    margin-right: 25px;
}
.artigo p{
    font-family: 'Martel', serif;
    font-size: 18px;
    font-weight: 400;
    color: #777777;
}

.artigo figure{
    padding: 5px ;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
.artigo figure img{
    width: 50%;
    padding: 10px;
    
}

.top h1{
    font-size: 39px;
    font-weight: bold;
    margin-left: 15px;
}
.profile{
    display: flex;
    align-items: center;
    color: #595959;
    margin-left: 15px;
    padding: 5px;
}
.profile-image img{
    padding: 10px;
    border-radius: 100%;
}
.profile-text h3{
    font-size: 18px;
    padding: 0px;
    margin: 0;
}
.profile-text p{
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.infos{
    color: #595959;
    margin-left:50px;
    padding: 5px;
}
.link-span{
    font-size: 13px;
    
}
span a{
    font-size: 13px;
    color: #595959;
}

.hashtags a{
    font-size: 14px;
    min-width: 2.9em;
    padding: 0.75em 0.6em;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 3px #41313c6c;
    color: #414040;
    padding: 10px;
}

.hastags-link:hover{
    box-shadow: 1px 1px 3px #41313cd5; 
}

